@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to Ryan's perfoming site!</h1>
    <h2>Here you can learn more about his experience as a performer.</h2>
</div>

<img src="~/img/img_4146.jpg" height="200"/>
<img src="~/img/img_1855.jpg" height="200"/>

<p>Ryan started performing when he was just 8 years old! He has since been in over 30 musicals and plays and 
    he is always looking for new opportunities to get on the stage. He has performed in musicals, classical plays, 
    shakespearean dramas and more! With Ryan's experience he is certain you will want to sign up to be tutored by him!
   
</p>

<p>"One thing I love about performing is having the opportunity to bring different characters to life on the stage.
    It allows me to explore different emotions and circumstances that I will likely never experience but that helps
    me to have deeper empathy for others. Performing is such a unique way to connect with others and I am grateful
    I have the chance to perform as often as I do!" - Ryan Ward
</p>